table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

td,
th {
    width: 20%;
}

.search {
    margin-left: 10px;
    margin-top: 10px;
    width: 100%;
    max-width: 300px;
}

.red {
    color: #ff0000;
    font-weight: 500;
}

.green {
    color: #008000;
    font-weight: 500;
}