<div class="m-3">
    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h1 mat-dialog-title>
                        <mat-icon color="warn">timelapse</mat-icon>
                    </h1>
                    <h3 class="card-title">Total Time</h3>
                    <mat-icon style="font-size: 15px;">access_time</mat-icon>8min
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h1 mat-dialog-title>
                        <mat-icon color="accent">pending_actions</mat-icon>
                    </h1>
                    <h3 class="card-title">Escalate Page</h3>
                    <mat-icon style="font-size: 15px;">access_time</mat-icon>{{et * 1000 | date:'H:mm:ss':'UTC'}}
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h1 mat-dialog-title>
                        <mat-icon color="primary">contact_page</mat-icon>
                    </h1>
                    <h3 class="card-title">Consultee Page</h3>
                    <mat-icon style="font-size: 15px;">access_time</mat-icon>8min
                </div>
            </div>
        </div>
    </div>
</div>